<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.0.0/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

  {% block head %}
  <title>{% block title %}{% endblock %} - VAT</title>
  {% endblock %}
</head>

<body>
    <div class="my-2" style="display: flex; flex-direction: column;">
        <h4 class="my-2" style="margin: auto;">管理員</h4>
    </div>
    <div class="row my-2">
        <div class="col-md-3">
            <div class="mx-2">
                <h5>{{ current_user.name }}</h5>
                <p style="overflow-wrap: break-word;">{{ current_user.email }}</p>
            </div>
            <ul>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('dashboard') }}">
                        <span class="mx-1">儀表板</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('edit_images') }}">
                        <span class="mx-1">標記資料</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('salary') }}">
                        <span class="mx-1">薪資收據</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('setting') }}">
                        <span class="mx-1">設定</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('logout') }}">
                        <span class="mx-1">登出</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="verified-users" class="row mt-4"  style="display: flex; flex-direction: column;">
                <p>已驗證使用者</p>
                <!-- <hr/> -->
            </div>
            <div id="unverified-users" class="row mt-4"  style="display: flex; flex-direction: column;">
                <p>待驗證使用者</p>
                <!-- <hr/> -->
            </div>
            <div id="annotation-batches-outsourcing" class="row mt-4"  style="display: flex; flex-direction: column;">
                <p>資料標記總覽</p>
            </div>
            <div id="annotation-batches-internal" class="row mt-4"  style="display: flex; flex-direction: column;">
                <p>資料標記總覽(內部)</p>
            </div>
            <div id="other-setting" class="row mt-4"  style="display: flex; flex-direction: column;">
                <div class="d-flex flex-row my-2">
                    <p>批次大小：</p><p id="batch_size"></p><button class="btn-sm btn-outline-info mx-1" onclick="editBatchSize()">編輯</button>
                </div>
                <div class="d-flex flex-row my-2">
                    <button class="btn-sm btn-outline-info mx-1" onclick="reloadFolders()">重新整理資料</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/constant.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>