<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.0.0/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">

  {% block head %}
  <title>{% block title %}{% endblock %} - VAT</title>
  {% endblock %}
</head>

<body>
    <div class="my-2" style="display: flex; flex-direction: column;">
        <h4 class="my-2" style="margin: auto;">儀表板</h4>
    </div>
    <div class="row my-2">
        <div class="col-md-3">
            <div class="mx-2">
                <h5>{{ current_user.name }}</h5>
                <p style="overflow-wrap: break-word;">{{ current_user.email }}</p>
            </div>
            <ul>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('edit_image', image_id='000001') }}">
                        <span class="mx-1">標記資料</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('salary') }}">
                        <span class="mx-1">薪資收據</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('setting') }}">
                        <span class="mx-1">設定</span>
                    </a><br/>
                </li>
                <li>
                    <a class="my-2 mx-auto " style="margin: auto;" href="{{ url_for('logout') }}">
                        <span class="mx-1">登出</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% block content %}
                    {% if verified == "not verified" %}
                        <div class="alert alert-warning alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            請先填寫<a class="alert-link" href="{{ url_for('setting') }}">個人基本資料</a>以使用本系統
                        </div>
                    {% elif verified == "pending" %}
                        <div class="alert alert-warning alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            個人資料填寫完成，請等待審核</a>
                        </div>
                    {% elif verified == "verified" %}
                        <div class="alert alert-info alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            帳號認證成功，可進行標註
                        </div>
                    {% endif %}
                {% endblock content %}
            </div>
            <div class="row mt-2" style="display: block;">
                <p>教學影片</p>
                <hr/>
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=OxWbLr8cP5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row mt-2" style="display: block;">
                <p>PDF</p>
                <hr/>
                <div class="col-6 align-items-center">
                    <a class="my-2 mx-auto btn btn-outline-secondary" style="margin: auto;" href="{{ url_for('downloadFile') }}">
                        <span class="mx-1">下載PDF</span>
                    </a>
                    <br/>
                    <div class="custom-file" style="max-width: 300px;">
                      <input type="file" class="custom-file-input" id="fileinput"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="fileinput">上傳完成的PDF</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>